.card-category {
  background-size: cover;
  background-position: center;
  background-color: white;
  height: 500px;
  width: 280px;
  margin:70px 10px 10px 10px;
  text-align: center;
  color: #212738;
  font-size: 18px;
  border: 3px solid #162ea4;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);

}

.middle {
  background: rgb(22,46,164);
  background: linear-gradient(38deg, rgba(22,46,164,1) 0%, rgba(66,98,183,1) 43%, rgba(176,222,255,1) 100%);
  height: 620px;
  margin-top:0px;
  color: white;
  font-size: 24px;
  border: 3px solid rgba(22,46,164,0.4);
  text-shadow: 1px 1px 10px rgba(0,0,0,0.8);
  box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}

.cards {
  display: flex;
  justify-content: space-evenly;
}
/* // Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    justify-content: center;
    flex-direction:column;
  }
  .container{
    justify-content: center;
    width: 300 !important;
  }
  .card-category{
    height: 300px;
    margin: 20;
  }

  .middle{
    height: 420px
  }
}

/* // Small devices (landscape phones, 576px and up)*/
@media (max-width: 768px) {
  .container{
    justify-content: center;
    width: 600 !important;
  }
  .card-category{
    height: 400px;
  }

  .middle{
    height: 520px;
  }
  .cards{
    margin-top:50px;
  }
}

/* // Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .cards {
  }
}

/* // Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .card {
  }
}
